.reset-btn,
.play-again-btn {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    padding: 8px 12px;
    margin-top: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.reset-btn {
    background: rgb(44, 135, 255);
    color: #fff;
}

.play-again-btn {
    background: rgb(255, 111, 97);
    color: #fff;
    margin-left: 16px;
}

.reset-btn-div {
    display: flex;
    justify-content: center;
}